/* 
.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .btn-primary {
    background-color: #333;
    color: #fff;
  }

  .btn-secondary {
    background-color: #fff;
    color: #333;
  }
  
  .btn-primary:hover {
    background-color: #555;
  }
   */

   .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  /* .btn:hover {
    background-color: #333;
  } */
  
  .order-now {
    background-color: #000;
    color: #000;
    border-radius: 20px;
    padding: 10px 20px;
  }
  
    .card-button {
        color: #333;
        border: 1px solid #333;
        border-radius: 20px;
        padding: 10px 20px;
        background-color: #fff;
    }


  