.checkout-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.checkout-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
}

.checkout-details {
  flex: 2;
  margin-right: 20px;
}

.payment-container {
  flex: 1;
}

.checkout-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkout-header .move {
  margin-right: 10px;
}

.cart-items {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.item-details {
  flex: 1;
  font-size:12px;
}

.cart-price {
  margin-left: auto; 
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .checkout-container {
    flex-direction: column; 
  }

  .checkout-details,
  .payment-container {
    width: 100%; 
    margin-right: 0; 
  }

  .cart-item {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .cart-item img {
    width: 40px; 
    height: 40px;
    margin-bottom: 10px;
  }

  .item-details {
    width: 100%; 
  }

  .cart-price {
    margin-left: 0; 
    text-align: right; 
    width: 100%; 
    margin-top: 10px; 
  }
}

@media (max-width: 480px) {
  .checkout-header h2 {
    font-size: 16px; 
  }

  .cart-item img {
    width: 30px; 
    height: 30px;
  }

  .item-details h3 {
    font-size: 0.8rem;
  }

  .cart-price {
    font-size: 0.8rem; 
  }
}
