.cart-section {
  padding: 0;
  background-color: #ffff;
  text-align: center;
  position: fixed; /* Fixed positioning to cover the left side */
  top: 0;
  right: 0; /* Positioned on the left side */
  width: 50%; /* Set a specific width for desktop view */
  height: 100vh; /* Full height */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow-y: auto;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 12px;
}

.cart-header h2 {
  margin: 0;
  font-size: 20px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1;
}

.cart-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s;
  border-top: 1px solid #9b9b9b;
}

.cart-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cart-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 2px;
}

.cart-details {
  flex-grow: 1;
  margin-left: 20px;
  text-align: left;
}

.cart-details h3 {
  font-size: 1rem;
  margin: 0;
  color: #1e1e1e;
}

.cart-details .price {
  flex-grow: 1;
  margin-left: auto;
  text-align: right;
  font-size: 1rem;
  color: #555;
  margin: 10px 0;
}

.cart-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.remove-button {
  background-color: #fff;
  color: red;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-button {
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
}

.remove-button:hover {
  background-color: #a00a0a;
}

.cart-footer {
  margin-top: 15px;
}

.move {
  margin-right: 13px;
}

/* Media Queries */
@media (max-width: 768px) {
  .cart-section {
    width: 100%; /* Full width on mobile */
    position: fixed;
  }

  .cart-header {
    align-items: flex-start;
  }

  .cart-header h2 {
    font-size: 18px;
  }

  .cart-card {
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
  }

  .cart-card img {
    width: 80px;
    height: 80px;
  }

  .cart-details {
    margin-left: 10px;
    text-align: left;
    width: 50%;
  }

  .cart-details h3 {
    font-size: 0.9rem;
  }

  .cart-details .price {
    font-size: 0.9rem;
    text-align: right;
    width: 20%;
  }

  .cart-actions {
    flex-direction: column;
    justify-content: flex-end;
    width: 30%;
    margin-top: 10px;
  }

  .checkout-button {
    width: 100%;
    margin-top: 10px;
  }

  .cart-footer {
    width: 100%;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .cart-header h2 {
    font-size: 16px;
  }

  .cart-card img {
    width: 60px;
    height: 60px;
  }

  .cart-details h3 {
    font-size: 0.8rem;
  }

  .cart-details .price {
    font-size: 0.8rem;
    width: 30%;
  }

  .checkout-button {
    padding: 8px 10px;
  }

  .remove-button {
    padding: 8px 10px;
  }
}
